<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">


	<bean id="F1"
		class="org.baum.app.edu.first.FirstMain$FirstBean">
		<property name="name" value="재환"/><!-- setName 함수에 '재환' 이라는 값으로 설정 -->
	</bean>
	<bean id="F2"
		class="org.baum.app.edu.first.FirstMain$FirstBean">
		<property name="name" value="Julie"/>
	</bean>
	
			
	<bean id="SecondBean"
		class="org.baum.app.edu.first.FirstMain$SecondBean">
		<!-- property는 bean의 필드값을 정의 -->
		<property name="firstBean" ref="F2" /><!-- setFirstBean 함수에 F2인 Bean 으로 설정 -->
	</bean>
	
	
	<context:annotation-config></context:annotation-config>
</beans>
