<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">


	<bean id="F1"
		class="org.baum.app.edu.di.DIMain$FirstBean">
		<property name="name" value="재환"></property>
	</bean>
	<bean id="F2"
		class="org.baum.app.edu.di.DIMain$FirstBean">
		<property name="name" value="Julie"></property>
	</bean>
	
	<bean id="methodReplacer" class="org.baum.app.edu.di.DIMain.Replacer"></bean>
			
	<bean id="SecondBean"
		class="org.baum.app.edu.di.DIMain$SecondBean">
		<!-- <property name="firstBean" ref="F2"/> 대신  
			@Autowired, @Qualifier("F2") 어노테이션으로 대체 할 수 있다.
			
			어노테이션을 사용하기 위해서는 Namespace 탭에서 contex를 추가 하고,
			추가된 context 탭에서 annotation-config를 추가 해야 한다.
		-->
		
		<!-- getMyFirst 실행 시 리턴값을 기존 값 무시하고 F1에 정의된값으로 리턴한 -->
		<lookup-method name="getMyFirst" bean="F1"/>
		
		
		<!-- getReplaceMethod 실행 시  methodReplacer 에 정의된 methodReplacer 함수가 대신 실행-->
		<replaced-method name="getReplaceMethod" replacer="methodReplacer"></replaced-method>
	</bean>
	

	
	<context:annotation-config></context:annotation-config>
</beans>
